img.table {
    width: 40px;

}

img.edit {
    width: 100px;
}

option:disabled {
    color: white;
    background-color: silver;
}

.no-padding {
    padding: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

tr.fixture {
    font-size: 14px;
}