img.table {
    max-width: 20px;

}

img.card-logo {
    max-height: 50px;
}

img.edit {
    width: 100px;
}

option:disabled {
    color: white;
    background-color: silver;
}

.no-padding {
    padding: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

tr.fixture {
    font-size: 14px;
}

nav.navbar {
    border-bottom: solid grey 1px;
}

.container{
    max-width: 1600px!important;
  }